<!doctype html>
<html>
    <head>

        <title>{% block title %}{% endblock %}</title>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
        <style>
        body {
            background-color: #e8e8e8;
        }
        .page-title {
            font-size: 36pt;
        }



        
        nav {
            height: 8%;
        }




        .viewer {
            margin-top: 5%;
            width: 92%;
        }
        </style>
		{% block head_extra %}{% endblock %}
    </head>
    <body>
        <div class="navbar-fixed"> <!-- Makes the navbar stay at the top of the page on scroll -->
            <nav class="top-nav z-depth-1 purple lighten-2">
                <div class="container">
                <!-- Navbar at top of page -->
                    <div class="nav-wrapper">
                        <a href="/" class="brand-logo left" style="color:black">Vec2PCA</a>
                        <ul id="nav-mobile" class="right">
                            <li {% if request.path == "/upload" %} class="active"{% endif %}><a href="upload" style="color:black">Upload and Run</a></li>
                            <li {% if request.path == "/browse" %} class="active"{% endif %}><a href="browse" style="color:black">Selected Models</a></li>
                            <li {% if request.path == "/about" %} class="active"{% endif %}><a href="about" style="color:black">About</a></li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
		{% block body %}{% endblock %}
    </body>
</html>
