{% extends "base_template.html" %}
{% block body %}

<div class="container grey lighten-5">
	<div id="full" class="card-panel">
		<h4>Upload a new corpus</h4>
		<div class="divider"></div>
		<div class="section">
			You'll be emailed when the model has finished running. This usually takes about a minute per 75MB of text. The smallest recommended file size for good results is about 1MB, though it will be somewhat intelligible lower than that.
		</div>
		<div class="divider"></div>
		<div class="section">
			<form action="" method=post enctype=multipart/form-data>
				<div class="file-field input-field">
					<div class="btn">
						<span>File</span>
						<input type=file name=file>
					</div>
					<div class="file-path-wrapper">
						<input class="file-path validate" type="text">
					</div>
				</div>

				<div class="row">
			  		<div class="input-field col s9">
				  		<input type="text" name="email" value="{{ email }}">
		  		    	<label for="email">Email</label>
			  		</div>
			  		<button class="btn waves-effect waves-light" type="submit" name="submit">Submit
	    				<i class="material-icons right">send</i>
	  				</button>
	  			</div>
			</form>
		</div>
	</div>
</div>

<div class="row">	
	<div class="container grey lighten-5">
		<div id="full" class="card-panel grey lighten-5">
		{{ ajax_table|safe }}				
		</div>
	</div>
</div>
{% endblock %}
