/* GENERAL */

html, figure, figcaption, body, nav, a, section, h1, h2, h3, p, ul, li, strong, button, div {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
}
strong {
    font-weight: bold;
}


/* PARAGRAPHS */

p {
    font-size: 20px;
    line-height: 30px;
    color: #444;
    letter-spacing: 0;
    margin-bottom: 20px;
    font-weight: 300;
}
.filler {
    text-align: center;
}

/* LISTS */

ul {
    margin-left: 40px;
    font-size: 25px;
    line-height: 50px;
    font-weight: 300;
    color: #444;
    list-style: square;
}
.normalfont {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
}

/* HEADINGS */

h1 {
    font-size: 50px;
    padding-top: 40px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.8);
}
h1.subpage {
    padding-bottom: 100px;
}
h3 {
    font-size: 40px;
    text-align: center;
    color: #444;
    padding-bottom: 40px;
}
.nopadding {
    padding-bottom: 0;
}
h4 {
    font-size: 30px;
}

/* LINKS */

a { text-decoration: none; }
a:hover, a:active {
    text-decoration: underline;
}
.content-section a:link {
    color: #0645AD;
}
.content-section a:visited {
    color: #551A8B;
}
a.headline {
    text-decoration: none;
}

/* IMAGES */

img { 
    max-width: 750px;
    width: 100%;
    height: auto;
}
.padded {
    padding-top: 20px;
    padding-bottom: 20px;
}
svg {
    display: inline-block;
    vertical-align: middle;
}
figcaption {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
@media (max-width: 900px) {
    a#logo {
        /* TODO: FIGURE OUT HOW TO ALIGN CENTER */
    }
}
/* CODE */

code {
    /*background-color: #eee;*/
    padding-left: 4px;
    padding-right: 4px;
}
pre code {
    display: block;
    line-height: 1.2em;
    max-height: 30em;
    overflow: auto;
    padding: 10px;
}

/* BLOCKQUOTE */

blockquote {
    border-left: 4px solid #ccc;
    color: #444;
    margin: 0;
    padding: 0 0 0 16px;
}

/* NAVIGATION ELEMENTS */

nav {
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
    flex-wrap: wrap;
}
nav a {
    font-size: 19px;
    font-weight: bold;
    padding: 40px 20px;
    cursor: pointer;
}
nav a:hover {
    color: white;
    color: rgba(255,255,255,0.8);
}
nav.subpage {
    justify-content: center;
    padding-right: 0;
}
nav.subpage a:hover {
    color: black;
}
@media (max-width: 1050px) {
    nav a {
        padding: 40px 10px;
    }
}
@media (max-width: 900px) {
    nav {
        justify-content: center;
        padding-top: 80px;
        padding-right: 0;
    }
    nav a {
        padding: 0 10px;
    }
    nav.subpage {
        padding-top: 0;
    }
}

/* SECTION STUFF */

section {
    width: 100%;
}
#hero-section {
    background-image: url(/img/sunset_main_optim.jpg);
    background-repeat: repeat-x;
    background-attachment: center;
    background-position: center;
    text-align: center;
    color: white;
    height: 450px;
    position: relative;
    z-index: 1;
    margin-bottom: 200px;
}
#hero-section:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: black;
    background-color: rgba(0,0,0,0.2);
    top: 0;
    left: 0;
    z-index: -1;
}
#hero-section h1 + a {
    font-size: 18px;
    color: white;
    padding: 14px 20px;
    display: inline-block;
    margin-top: 15px;
    font-weight: 300;
    letter-spacing: 2px;
    background-color: #477EEB;
    background-color: rgba(71, 126, 235, 0.9);
}
#hero-section h1 + a:hover {
    background-color: #477EEB;
    background-color: rgba(71, 126, 235, 0.8);
}

#hero-section-subpage {
    background-image: url(/img/sunset_subpage_optim.jpg);
    background-repeat: repeat-x;
    background-attachment: center;
    background-position: center;
    text-align: center;
    color: white;
    height: 225px;
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}

section#square-section {
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 425px;
    flex-direction: row;
    justify-content: center;
}
@media (max-width: 1019px) {
    section#square-section {
        top: 290px;
    }
}
@media (max-width: 527px) {
    section#square-section {
        top: 350px;
    }
}
@media (max-width: 312px) {
    section#square-section {
        top: 410px;
    }
}

section#square-section:after {
    content: "";
    display: block;
    clear: both;
}
.square {
    position: relative;
    width: 340px;
    min-width: 340px;
    float: left;
    height: 360px;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;
    color: #444;
    text-align: center;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;
}
.square h2 {
    font-size: 25px;
    font-weight: bold;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.square p {
    font-size: 17px;
    color: #5A5A5A;
    padding: 0 25px;
    line-height: 24px;
    padding-top: 0;
    letter-spacing: 0.5px;
}
.square:before {
    position: absolute;
    z-index: -1;
    background: white;
    height: 90%;
    width: 80%;
    top: 5%;
    left: 10%;
    display: block;
    content: "";
    margin: 0 auto;
    box-shadow: 0 0 20px 3px rgba(0,0,0,0.2);
}
.square button {
    display: block;
    width: 80%;
    position: absolute;
    bottom: 5%;
    left: 10%;
    padding: 20px;
    padding-bottom: 22px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(71, 126, 235);
    outline: none;
}
.square:nth-child(2) button {
    background-color: rgb(241,134,6);
}
.square:nth-child(3) button {
    background-color: rgb(71, 126, 235);
}
#default-section, #people-section {
    width: 800px;
    margin: 0 auto;
}
@media (max-width: 900px) {
    #default-section, #people-section {
        width: 80%;
        margin: 0 auto;
    }
}

.highlights {
    box-shadow: -5px 5px 10px 3px rgba(0,0,0,0.2);
    padding: 40px;
    margin-bottom: 40px;
    background-color: #f3f2f5;
}
section#default-section .highlights p {
    font-size: 30px;
    line-height: normal;
}
.profile-img {
    border-radius: 50%;
    height: 265px;
    width: 265px;
}
.left-column {
    width: 50%;
    float: left;
    padding-right: 50px;
}
.right-column {
    width: 50%;
    float: right;
    padding-left: 50px;
    border-left: 1px solid #f3f2f5;
}
@media (max-width: 750px) {
    .left-column {
        float: none;
        width: 100%;
        padding-right: 0;
    }
    .right-column {
        float: none;
        width: 100%;
        padding-left: 0;
        border-left: none;
    }
}
.left-column img, .right-column img {
    margin: 0 auto;
    margin-bottom: 60px;
    display: block;
}
section#people-section:after {
    display: block;
    content: "";
    clear: both;
}
#hero-section .logo {
    position: absolute;
    left: 40px;
    top: 22px;
    font-size: 20px;
    color: white;
    color: rgba(255,255,255,0.8);
    text-align: left;
    display: block;
    width: 250px;
}
#hero-section-subpage .logo {
    position: absolute;
    left: 40px;
    top: 22px;
    font-size: 20px;
    color: white;
    color: rgba(255,255,255,0.8);
    text-align: left;
    display: block;
    width: 250px;
}
